{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h1 class="text-center">Nuestros Productos</h1>
{% include "productos/buscar.html" %}
<!-- Filtros -->
<div class="text-center mb-4">
    <a href="{% url 'lista_productos' %}" class="btn btn-outline-primary {% if categoria == 'todos' %}active{% endif %}">Todos</a>
    <a href="{% url 'lista_productos' %}?categoria=crochet" class="btn btn-outline-primary {% if categoria == 'crochet' %}active{% endif %}">Crochet</a>
    <a href="{% url 'lista_productos' %}?categoria=pintura" class="btn btn-outline-primary {% if categoria == 'pintura' %}active{% endif %}">Pinturas</a>
</div>

{% include "productos/productos.html"%}

{% endblock %}
