<footer class="footer">
    
    <div class="container">
        <p class="mb-1">Síguenos en nuestras redes:</p>
        <div>
            <a href="https://www.facebook.com/profile.php?id=61568524893459" target="_blank" class="text-white mx-2">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" width="30" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/catmoon.cr/" target="_blank" class="text-white mx-2">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="30" alt="Instagram">
            </a>
            <a href="https://wa.me/+50670087533" target="_blank" class="text-white mx-2">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" width="30" alt="WhatsApp">
            </a>
        </div>
        <p class="mt-3 mb-0">Contacto: <a href="Gatoyluna123@gmail.com" class="text-red">Gatoyluna123@gmail.com</a></p>
        <p class="mb-0">Teléfono: +506 7008-7533 </p>
        <p class="mt-3 mb-0">&copy; 2025 CATMOON:Tu Tienda de Crochet y Pinturas</p>
    </div>
</footer>