{% load static %}
    <!-- Sección de información -->
    <section class="container fade-in">
        <div class="row text-center">
            <div class="col-md-4 col-12 mb-4">
                <img src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" width="60" class="img-fluid" alt="Hecho a mano">
                <h4 class="mt-3">Hecho a Mano</h4>
                <p>Productos únicos y originales elaborados con dedicación.</p>
            </div>
            <div class="col-md-4 col-12 mb-4">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="60" class="img-fluid" alt="Materiales de calidad">
                <h4 class="mt-3">Materiales de Calidad</h4>
                <p>Usamos los mejores materiales para garantizar durabilidad.</p>
            </div>
            <div class="col-md-4 col-12 mb-4">
                <img src="https://cdn-icons-png.flaticon.com/512/1077/1077976.png" width="60" class="img-fluid" alt="Envíos a todo el país">
                <h4 class="mt-3">Envíos a Todo el País</h4>
                <p>Recibe tu pedido donde estés con envíos rápidos y seguros.</p>
            </div>
        </div>
    </section>